{{ define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Younes Khadraoui, web developer, portfolio"
    />
    <meta name="author" content="Younes Khadraoui" />
    <meta name="description" content="Younes Khadraoui's portfolio website" />
    <title>Portfolio</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
{{end}}